<div class="container">
	<h1><%= @genre.title%></h1>
	<div class="disc-box">
		<p><%= @genre.description %></p>		
	</div>
	
	<br>
	<%= link_to 'Back', genres_path, class: "btn btn-primary" %>
	
</div>